rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Helper Functions
    function isAuthenticated() {
      return request.auth != null;
    }
    
    function isAdmin() {
      return isAuthenticated() && (
        request.auth.token.email in [
          "admin@test.com",
          "ataharshihab1@gmail.com",
          "atahershihab151@gmail.com",
          "teacherscorner01@gmail.com"
        ] || request.auth.token.email_verified == true
      );
    }

    match /artifacts/{appId}/public/data/{collectionId}/{docId} {
      allow read, write: if isAuthenticated();
    }
  }
}
